.mobile_navigation {
  padding-top: 64px;
  padding-left: 40px;

  position: fixed;
  top: 0;
  left: -325px;

  width: 320px;
  height: 100%;
  background: #fff;
  /* border: 2px solid navy; */
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 999;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s linear;
}

.mobile_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.link {
  color: var(--Body-Text, #191919);
  text-decoration: none;

  /* Mobile/Headings/H2 */
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: 0.36px;
}

.link:hover,
.link:focus {
  text-decoration: underline;
  color: var(--accent-bright-blue, #0663ca);
}

.link:active {
  text-decoration: underline;
  color: var(--accent-dark-blue, #0550a3);
}

.mobile_navigation_active {
  transform: translateX(100%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Напівпрозорий чорний */
  z-index: 998; /* Менше ніж мобільне меню */
  transition: opacity 0.3s ease-in-out;
}

.icon_close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon_close:hover {
  color: #4194b7;
}

.logo_wrapper {
  margin-top: 40px;
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}

.logo_text {
  color: var(--accent-blue, #6091d4);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.5px;
}

.menu_link {
  text-decoration: none;
  color: var(--Body-Text, #191919);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: 0.36px;
}

.menu_link:hover,
.menu_link:focus {
  color: var(--accent-bright-blue, #0663ca);
}

.menu_link:active {
  color: var(--accent-dark-blue, #0550a3);
  /* text-decoration: underline; */
}

.active_link {
  color: var(--accent-bright-blue, #0663ca);
}

@media (min-width: 744px) and (max-width: 1439px) {
  .mobile_navigation {
    padding-top: 80px;
    padding-left: 80px;
    left: -705px;
    width: 700px;
  }

  .mobile_list {
    gap: 48px;
  }

  .mobile_item {
    color: var(--Body-Text, #191919);

    /* Tablet/Headings/H2 */
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: 0.4px;
  }

  .logo_wrapper {
    margin-top: 48px;
  }
}
