.button {
  background: url("/icons/ButtonUp/chevron-button.svg") no-repeat center;
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 56px;
  height: 56px;
  background-color: var(--button-primary-reset, #f7b84b);
  box-shadow: 0px 0px 8px 0px rgba(27, 54, 65, 0.08);
  color: white;

  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, background-image 0.3s ease;
}

.button:hover {
  background: url("../../../public/icons/ButtonUp/chevron-button-hover.svg")
    no-repeat center;
  background-color: var(--button-primary-hover, #f6a048);
  transition: background-color 0.3s ease, background-image 0.3s ease;
}
