.footer {
  position: relative;
  background: var(--background-footer, #212121);
}

.item {
  margin-bottom: 24px;
}

.link {
  text-decoration: none;
}

.link {
  color: var(--Body-Soft-White, #f9fafa);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  transition: color 200ms ease-in-out 0ms;
}

.link:hover,
.link:focus {
  color: var(--body-beige, #ffdfcb);
}

.title_list {
  list-style: none;
  text-align: center;
}

.icon_list {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.icon_item {
  display: flex;
  align-items: center;
}
/* іконки */
.icon_gmail {
  width: 25px;
  height: 25px;
}
.icon_gmail:hover {
  --color8: #f4f2ed;
  --color9: #4285f4;
  --color10: #34a853;
  --color11: #fbbc04;
  --color12: #ea4335;
  --color13: #c5221f;
}

.icon_telegram {
  width: 32px;
  height: 32px;
}
.icon_telegram:hover {
  --color14: #2aabee;
}

.icon_facebook {
  width: 32px;
  height: 32px;
}
.icon_facebook:hover {
  --color15: #3d5a98;
}

.icon_instagram {
  width: 32px;
  height: 32px;
}

.icon_youtube {
  width: 32px;
  height: 32px;
}

.icon_youtube:hover {
  --color16: #ff0000;
  --color6: #ffffff;
}

.youtube_link {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  --color1: var(--Body-Soft-White, #f9fafa);
  cursor: pointer;
}

.logo_wrapper {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo_wrapper:hover .logo {
  --color1: var(--accent-blue, #6091d4);
}

.logo_wrapper:active .logo {
  --color1: var(--accent-bright-blue, #0663ca);
}

.logo_title {
  display: none;
}

.logo_wrapper:hover .logo_title {
  color: var(--accent-blue, #6091d4);
}

.logo_wrapper:active .logo_title {
  color: var(--accent-bright-blue, #0663ca);
}

.copyright {
  margin-top: 24px;
  color: #fff;
  text-align: center;
  /* font-family: Lato; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.6px;
}

.footer_menu {
  display: none;
}

.authors {
  position: absolute;
  width: 339px;
  height: 265px;
  padding: 20px;

  border-radius: 20px;
  background: #fff;
  /* opacity: 1; */
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 744px) {
  .item {
    margin-bottom: 32px;
  }

  .item:last-child {
    margin-bottom: 0;
  }

  .title {
    text-align: start;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.22px;
  }

  .title_list {
    text-align: start;
  }

  .icon_list {
    gap: 22px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo_title {
    display: block;
    color: var(--Body-Soft-White, #f9fafa);
    /* font-family: Lato; */
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 112.5% */
    letter-spacing: 0.5px;
  }

  .copyright {
    color: #fff;
    /* font-family: Lato; */
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }
}

@media (min-width: 1440px) {
  .item {
    margin-bottom: 40px;
  }

  .title {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.5px;
  }

  .icon_list {
    gap: 24px;
    margin-bottom: 0;
  }

  .logo_title {
    font-size: 36px;
    line-height: 36px; /* 100% */
    letter-spacing: 0.5px;
  }

  .copyright {
    margin-top: 52px;
    text-align: end;
  }

  .footer_menu {
    display: block;
    list-style: none;
    display: flex;
    gap: 48px;
    align-items: center;
    margin-bottom: 72px;
  }

  .menu_link {
    color: var(--Body-Soft-White, #f9fafa);
    text-decoration: none;

    /* font-family: Lato; */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.5px;
  }

  .third_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .authors {
    top: 105px;
    right: 359px;
  }

  .author_link {
    text-decoration: none;
  }

  .authors_list {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .author_wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .author_images {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .author_title {
    color: var(--title-main-title, #00758f);
    /* font-family: Lato; */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .author_text {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
  }
}
