:root {
  /* background */
  --White: "#FFFFFF";
  --Footer: #212121;

  /* body */
  --Text: #2c2727;
  --Grey: #414343;
  --Beige: #ffdfcb;

  /* title */
  --Title: #00758f;

  /* Shadow & Stroke */
  --Pink: #ffe3f6;
  --Stroke: #dfdfdf;
  --Skroll: #4194b7;

  /* Accent */
  --Blue: #6091d4;
}

@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Regular"), url("Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lato Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Italic"), url("Lato-Italic.woff") format("woff");
}

@font-face {
  font-family: "Lato Hairline";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Hairline"), url("Lato-Hairline.woff") format("woff");
}

@font-face {
  font-family: "Lato Hairline Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Hairline Italic"),
    url("Lato-HairlineItalic.woff") format("woff");
}

@font-face {
  font-family: "Lato Light";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Light"), url("Lato-Light.woff") format("woff");
}

@font-face {
  font-family: "Lato Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Light Italic"), url("Lato-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Lato Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Bold"), url("Lato-Bold.woff") format("woff");
}

@font-face {
  font-family: "Lato Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Bold Italic"), url("Lato-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Lato Black";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Black"), url("Lato-Black.woff") format("woff");
}

@font-face {
  font-family: "Lato Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Lato Black Italic"), url("Lato-BlackItalic.woff") format("woff");
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
