.benefits {
  background-color: black;
  height: 508px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/images/Benefits/Mobile/Benefits-mobile-1x.jpg");
}

@media (min-resolution: 192dpi) {
  .benefits {
    background-image: url("/images/Benefits/Mobile/Benefits-mobile-2x.jpg");
  }
}

.wrapper {
  position: relative;
}

.meditation_image {
  width: 328px;
  height: 328px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 328px;

  box-shadow: 0px 4px 50px 3px var(--stroke-shadows-pink, #ffe3f6);
}

.text_icon {
  position: absolute;
  width: 408px;
  height: 386px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.title {
  margin-bottom: 18px;
  text-align: center;
  /* font-family: Lato; */
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: 0.36px;

  background: linear-gradient(
    139deg,
    rgba(2, 255, 107, 0.7) 7.81%,
    rgba(0, 164, 144, 0.7) 59.84%,
    rgba(6, 99, 202, 0.7) 93.81%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 744px) {
  .benefits {
    background-image: url("/images/Benefits/Tablet/Benefits-tablet-1x.jpg");
    padding: 56px 24px;
    height: 834px;
  }

  @media (min-resolution: 192dpi) and (min-width: 744px) {
    .benefits {
      background-image: url("/images/Benefits/Tablet/Benefits-tablet-2x.jpg");
    }
  }

  .meditation_image {
    width: 454px;
    height: 454px;
  }

  .text_icon {
    width: 683.844px;
    height: 640.763px;
    transform: translate(-54%, -47%);
  }

  .title {
    margin-bottom: 103px;
    text-align: start;
    font-size: 40px;
    letter-spacing: 0.4px;
  }
}

@media (min-width: 1440px) {
  .benefits {
    padding: 64px 120px;
    background-image: url("/images/Benefits/Desktop/Benefits-desktop-1x.jpg");
    height: 1030px;
  }

  @media (min-resolution: 192dpi) and (min-width: 1440px) {
    .benefits {
      background-image: url("/images/Benefits/Desktop/Benefits-desktop-2x.jpg");
    }
  }

  .meditation_image {
    width: 700px;
    height: 700px;
    border-radius: 700px;
  }

  .title {
    margin-bottom: 88px;
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.48px;
  }

  .text_icon {
    width: 1115.268px;
    height: 812.516px;
    transform: translate(-59%, -50%);
  }
}
